<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ale.dao.PostDAO">

    <!-- 通用查询结果列：数据库表字段 -->
    <sql id="Base_Column_List">
        post_id,
        user_id,
        post_subject,
        publish_date,
        gmt_create,
        gmt_modified
    </sql>
    <!-- 通用resultMap：实体类成员变量一一对应数据库表字段 -->
    <resultMap type="com.ale.entity.Post" id="BaseResultMap">
        <id property="postId" column="post_id" />
        <result property="userId" column="user_id" />
        <result property="postSubject" column="post_subject" />
        <result property="publishDate" column="publish_date" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <insert id="saveOne" useGeneratedKeys="true" keyProperty="postId" parameterType="com.ale.entity.Post">
        INSERT INTO tb_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                post_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="postSubject != null and postSubject !=''">
                post_subject,
            </if>
            <if test="publishDate != null">
                publish_date,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                #{postId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="postSubject != null and postSubject !=''">
                #{postSubject},
            </if>
            <if test="publishDate != null">
                #{publishDate},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                #{gmtModified},
            </if>
        </trim>
    </insert>
    <delete id="removeOne" parameterType="java.lang.Integer">
        DELETE FROM tb_post
        WHERE post_id = #{postId}
    </delete>
    <update id="updateOne" parameterType="com.ale.entity.Post">
        UPDATE tb_post
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="postSubject != null and postSubject !=''">
                post_subject = #{postSubject},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
        </set>
        WHERE post_id = #{postId}
    </update>
    <select id="getOne" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tb_post
        WHERE post_id = #{postId}
    </select>

    <select id="listPost" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tb_post
        <where>
            <if test="keyword != null and keyword != ''">
                <bind name="pattern_keyword" value="'%' + keyword + '%'"/>
                columnName LIKE  #{pattern_keyword}
            </if>
        </where>
    </select>


</mapper>


