<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ale.dao.RolePermissionDAO">

    <!-- 通用查询结果列：数据库表字段 -->
    <sql id="Base_Column_List">
        role_permission_id,
        role_id,
        permission_id,
        gmt_create,
        gmt_modifed
    </sql>
    <!-- 通用resultMap：实体类成员变量一一对应数据库表字段 -->
    <resultMap type="com.ale.entity.RolePermission" id="BaseResultMap">
        <id property="rolePermissionId" column="role_permission_id" />
        <result property="roleId" column="role_id" />
        <result property="permissionId" column="permission_id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModifed" column="gmt_modifed" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="rolePermissionId" parameterType="com.ale.entity.RolePermission">
        INSERT INTO tb_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rolePermissionId != null">
                role_permission_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="gmtModifed != null">
                gmt_modifed,
            </if>
           gmt_create, gmt_modified
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rolePermissionId != null">
                #{rolePermissionId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="permissionId != null">
                #{permissionId},
            </if>
            <if test="gmtModifed != null">
                #{gmtModifed},
            </if>
            NOW(), NOW()
        </trim>
    </insert>
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM tb_role_permission
        WHERE role_permission_id = #{rolePermissionId}
    </delete>


</mapper>


