<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ale.dao.UserRoleDAO">

    <!-- 通用查询结果列：数据库表字段 -->
    <sql id="Base_Column_List">
        user_role_id,
        user_id,
        role_id,
        gmt_create,
        gmt_modified
    </sql>
    <!-- 通用resultMap：实体类成员变量一一对应数据库表字段 -->
    <resultMap type="com.ale.entity.UserRole" id="BaseResultMap">
        <id property="userRoleId" column="user_role_id" />
        <result property="userId" column="user_id" />
        <result property="roleId" column="role_id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userRoleId" parameterType="com.ale.entity.UserRole">
        INSERT INTO tb_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userRoleId != null">
                user_role_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
           gmt_create, gmt_modified
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userRoleId != null">
                #{userRoleId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            NOW(), NOW()
        </trim>
    </insert>
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM tb_user_role
        WHERE user_role_id = #{userRoleId}
    </delete>


</mapper>


